### Part-1 - Truecar.com - New York

### Step-1 - Imports

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from sqlalchemy import create_engine

### Step-2 - Python Requests

In [5]:
import os
import requests

# Replace this with an actual environment variable or use plain string if needed
dc_visit = os.getenv('dc_visit', 'default_value_if_missing')

# Correct headers without unnecessary `^` symbols
headers = {
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.9',
    'ApolloGraphQL-Client-Name': 'abp-frontend',
    'Authorization-Mode': 'consumer',
    'Content-Type': 'application/json',
    'Cookie': f"militaryServiceArea=no; tc_v=be97f663-c67a-4d60-86dd-3871dfa9b169; {dc_visit}",
    'Origin': 'https://www.truecar.com',
    'Referer': 'https://www.truecar.com/used-cars-for-sale/listings/location-new-york-ny/?page=2',
    'User-Agent': 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Mobile Safari/537.36',
}

# Correctly formatted JSON data
data = {
    "operationName": "getMarketplaceSearch",
    "variables": {
        "filters": {
            "condition": "USED",
            "fallbackStrategy": "SIMPLE",
            "excludeExpandedDelivery": False,
            "withinRadius": {"postalCode": "10001", "distance": 75},
        },
        "sort": "BEST_MATCH",
        "first": 30,
        "offset": 30,
        "galleryImagesCount": 1,
        "includeSeoInventorySummaryAndBodyStyles": False,
        "sponsoredFirst": 3,
        "sponsoredOffset": 3,
        "includeSponsoredListings": True,
    },
    "extensions": {
        "operationId": "a23275bdfec3641a11e19043e315f3f9539c516c48d446d44409a084fca83a13"
    },
}

# Corrected URL without `^` symbols
url = "https://www.truecar.com/abp/api/graphql/"

# Making the POST request
response = requests.post(url, headers=headers, json=data)

# Checking the response
print(f"Status Code: {response.status_code}")

Status Code: 200

### Step-3 - Create JSON Object

In [6]:
results_json = response.json()

In [7]:
type(results_json)

dict

### Step-4 - Find Your Data

In [8]:
len(results_json['data']['listingSearch']['edges'])

30

In [9]:
result_items = results_json['data']['listingSearch']['edges']

In [10]:
result_items[0]

{'cursor': 'MzE',
 'node': {'id': 'TGlzdGluZy1KTjhCVDNCQjNQVzE5MzUzMg==',
  'isMultiLocation': True,
  'distanceRetailing': False,
  'tcplusEligible': False,
  'consumerProspectedAt': None,
  'availability': None,
  '__typename': 'Listing',
  'consumerContext': {'__typename': 'ListingConsumerContext',
   'prospectState': None},
  'vehicle': {'vin': 'JN8BT3BB3PW193532',
   'condition': 'USED',
   'make': {'slug': 'nissan',
    'name': 'Nissan',
    'id': 'TWFrZS00Mw==',
    'databaseId': 43,
    '__typename': 'Make'},
   'model': {'slug': 'rogue',
    'name': 'Rogue',
    'id': 'TW9kZWwtMTExNjU=',
    'databaseId': 11165,
    '__typename': 'Model'},
   'style': {'id': 'U3R5bGUtOTU3Mzg=',
    'databaseId': 95738,
    'trim': {'name': 'SV',
     'slug': 'sv',
     'id': 'VHJpbS1zdg==',
     '__typename': 'Trim'},
    'electricRange': 0,
    'name': '2023.5 SV AWD',
    'driveType': {'id': 'VmVoaWNsZURyaXZlVHlwZS0x',
     'acronym': 'AWD',
     'name': 'All Wheel Drive',
     '__typename': 'VehicleDriveType'},
    '__typename': 'Style'},
   'year': 2023,
   'certifiedPreOwned': None,
   'mileage': 19293,
   'exteriorColor': {'genericName': 'White',
    'name': 'Pearl White Tricoat',
    '__typename': 'GenericColor'},
   'interiorColor': {'genericName': 'Gray',
    'name': 'Light Gray',
    '__typename': 'GenericColor'},
   'conditionHistory': {'__typename': 'VehicleConditionHistory',
    'ownerCount': 1,
    'accidentCount': 0,
    'isFleetCar': True},
   'mpg': {'city': 28, 'highway': 35, '__typename': 'VehicleMPG'},
   'transmission': 'Automatic',
   'engine': '1.5L Inline-3 Gas Inline',
   'fuelType': 'Gas',
   'bodyStyle': 'SUV',
   '__typename': 'Vehicle'},
  'galleryImages': {'nodes': [{'url': 'listings/76435/32/35/JN8BT3BB3PW193532/LB32MRIY2RUMT6VB3DPPLTL7QI',
     'width': 1280,
     'height': 960,
     'metadata': ['PREPROCESSED_MULTIPLE_ASPECT_RATIOS'],
     '__typename': 'Image'},
    {'url': 'listings/76435/32/35/JN8BT3BB3PW193532/ARDQQ3WJICY43ETRKTAZ3R74RA',
     'width': 1280,
     'height': 853,
     'metadata': ['PREPROCESSED_MULTIPLE_ASPECT_RATIOS'],
     '__typename': 'Image'},
    {'url': 'listings/76435/32/35/JN8BT3BB3PW193532/STTFGBYCAWL4WH6M47A6JYHXTQ',
     'width': 1280,
     'height': 853,
     'metadata': ['PREPROCESSED_MULTIPLE_ASPECT_RATIOS'],
     '__typename': 'Image'},
    {'url': 'listings/76435/32/35/JN8BT3BB3PW193532/JIGQ7KIQRROQFIAWXR5PF32UKM',
     'width': 1280,
     'height': 853,
     'metadata': ['PREPROCESSED_MULTIPLE_ASPECT_RATIOS'],
     '__typename': 'Image'},
    {'url': 'listings/76435/32/35/JN8BT3BB3PW193532/KA7PFWYBJGI4CJLOOFE2NMZ2S4',
     'width': 1280,
     'height': 853,
     'metadata': ['PREPROCESSED_MULTIPLE_ASPECT_RATIOS'],
     '__typename': 'Image'}],
   '__typename': 'ImageConnection'},
  'precalculatedLease': None,
  'precalculatedLoan': None,
  'marketAnalysis': {'priceQuality': 'EXCELLENT',
   'calloutDifferenceString': '$1,589 (8.0%) off avg. list price',
   'calloutPriceSavings': None,
   'marketAverageAnalysis': {'averagePrice': 22515,
    'averageSaved': 1589,
    'averagePricePercentage': 8.0,
    'averagePriceRange': {'min': 22065,
     'max': 22965,
     '__typename': 'IntRange'},
    '__typename': 'PriceAnalysis'},
   'recentOfferAnalysis': None,
   '__typename': 'MarketAnalysis'},
  'pricing': {'exclusion': 'LOCKED',
   'maapOverriddenAt': None,
   'listPrice': 19891.0,
   'discountLabel': None,
   'deliveryFee': None,
   'baseMsrp': None,
   'totalMsrp': 0,
   'subTotal': None,
   'transferFee': None,
   'priceBeforeDrop': None,
   'recentOfferAnalysis': None,
   '__typename': 'Pricing'},
  'dealership': {'location': {'id': 'RGVhbGVyc2hpcExvY2F0aW9uLTc2NDM1',
    'address1': '42-08 35th Avenue',
    'address2': None,
    'geolocation': {'postalCode': '11101',
     'city': 'Long Island City',
     'state': 'NY',
     'id': 'R2VvbG9jYXRpb24tNzY0MzU=',
     '__typename': 'Geolocation'},
    '__typename': 'DealershipLocation'},
   'dealershipConsumerContext': None,
   'databaseId': '76435',
   'name': 'Showroom Auto Sales',
   'parentDealershipName': None,
   'id': 'RGVhbGVyc2hpcC03NjQzNQ==',
   '__typename': 'Dealership'},
  'preprospectDisclaimers': {'loan': None,
   'lease': None,
   'purchase': None,
   '__typename': 'PriceDisclaimers'}},
 'estimatedMonthlyPaymentDetails': None,
 '__typename': 'ListingSearchEdge',
 'distance': {'__typename': 'WithinDistanceInfo', 'miles': 4.061259249494486},
 'evIncentivesDetails': {'__typename': 'EvIncentivesDetails',
  'federalNewLeaseValue': 0},
 'fallbackStrategyInfo': {'__typename': 'FallbackStrategyInfo',
  'isFallbackListing': False},
 'hiddenListingsInfo': None}

In [11]:
#Brand
result_items[0]['node']['vehicle']['make']['name']

'Nissan'

In [12]:
#Model
result_items[0]['node']['vehicle']['model']['name']

'Rogue'

In [13]:
#Mileage
result_items[0]['node']['vehicle']['mileage']

19293

In [14]:
#Year
result_items[0]['node']['vehicle']['year']

2023

In [15]:
#Price
result_items[0]['node']['pricing']['listPrice']

19891.0

### Step-5 - Put Everything Together and For-Loop

In [16]:
brand_ny = []
model_ny = []
mileage_ny = []
year_ny = []
price_ny = []

for result in result_items:
    #brand
    brand_ny.append(result['node']['vehicle']['make']['name'])
    model_ny.append(result['node']['vehicle']['model']['name'])
    mileage_ny.append(result['node']['vehicle']['mileage'])
    year_ny.append(result['node']['vehicle']['year'])
    price_ny.append(result['node']['pricing']['listPrice'])

### Step-6 - Pandas DataFrame - Single Page

In [17]:
df_ny_single = pd.DataFrame({
    'Brand': brand_ny,
    'Model': model_ny,
    'Mileage': mileage_ny,
    'Year': year_ny,
    'Price': price_ny
})

In [18]:
df_ny_single

            Brand              Model  Mileage  Year    Price
0          Nissan              Rogue    19293  2023  19891.0
1            Jeep           Cherokee    61522  2019  12499.0
2           Dodge            Durango    59682  2022  19889.0
3   Mercedes-Benz                GLC    89761  2021  15470.0
4      Land Rover  Range Rover Sport    41154  2022  39900.0
5         Hyundai            Elantra    94153  2013   5499.0
6          Nissan              Rogue    14053  2023  20891.0
7             BMW           5 Series    30637  2017  16995.0
8      Volkswagen               Taos    48183  2022  15320.0
9          Nissan           Frontier    18721  2023  26500.0
10         Nissan              Rogue    36386  2021  18500.0
11        Hyundai            Elantra    27485  2022  14800.0
12           Audi                 Q5    24952  2021  27411.0
13            Kia            Sorento    58214  2022  24988.0
14       Chrysler           Pacifica    61990  2022  18777.0
15        Hyundai           Santa Fe    31486  2019  18900.0
16         Nissan             Sentra    75130  2017   8500.0
17  Mercedes-Benz                GLC    43900  2021  22500.0
18  Mercedes-Benz                GLE    75633  2020  22441.0
19     Volkswagen             Tiguan    33613  2021  18195.0
20         Toyota              Camry    73037  2021  15899.0
21         Toyota               bZ4X    25628  2023  24000.0
22          Honda              Civic    18963  2022  20500.0
23  Mercedes-Benz            C-Class    21996  2023  40500.0
24            BMW           3 Series    52383  2021  17893.0
25            BMW                 X5    40401  2022  39995.0
26  Mercedes-Benz                GLB    62167  2020  19650.0
27           Jeep  Grand Cherokee WK    79600  2021  21488.0
28         Nissan             Sentra    23871  2021  14500.0
29            BMW           3 Series    44129  2021  18916.0

### Step-7 - Scraping Multiple Pages (here: 1500 results)

In [19]:
import requests
import pandas as pd
import os

# Replace this with an actual environment variable or use plain string if needed
dc_visit = os.getenv('dc_visit', 'default_value_if_missing')

# Correct headers
headers = {
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.9',
    'ApolloGraphQL-Client-Name': 'abp-frontend',
    'Authorization-Mode': 'consumer',
    'Content-Type': 'application/json',
    'Cookie': f"militaryServiceArea=no; tc_v=be97f663-c67a-4d60-86dd-3871dfa9b169; {dc_visit}",
    'Origin': 'https://www.truecar.com',
    'Referer': 'https://www.truecar.com/used-cars-for-sale/listings/location-new-york-ny/?page=2',
    'User-Agent': 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Mobile Safari/537.36',
}

# Base URL for the API
url = "https://www.truecar.com/abp/api/graphql/"

# Initialize empty lists to store data
brand_ny = []
model_ny = []
mileage_ny = []
year_ny = []
price_ny = []

# Loop through multiple pages
page_size = 30  # Number of results per page
num_pages = 50   # Total number of pages to scrape (modify as needed)

for page in range(num_pages):
    # Calculate the offset
    offset = page * page_size

    # Data payload with updated offset
    data = {
        "operationName": "getMarketplaceSearch",
        "variables": {
            "filters": {
                "condition": "USED",
                "fallbackStrategy": "SIMPLE",
                "excludeExpandedDelivery": False,
                "withinRadius": {"postalCode": "10001", "distance": 75},
            },
            "sort": "BEST_MATCH",
            "first": page_size,
            "offset": offset,
            "galleryImagesCount": 1,
            "includeSeoInventorySummaryAndBodyStyles": False,
            "sponsoredFirst": 3,
            "sponsoredOffset": 3,
            "includeSponsoredListings": True,
        },
        "extensions": {
            "operationId": "a23275bdfec3641a11e19043e315f3f9539c516c48d446d44409a084fca83a13"
        },
    }

    # Make the POST request
    response = requests.post(url, headers=headers, json=data)

    # Check if the response is successful
    if response.status_code == 200:
        results_json = response.json()

        # Extract the results
        result_items = results_json['data']['listingSearch']['edges']

        for result in result_items:
            # Extract details
            brand_ny.append(result['node']['vehicle']['make']['name'])
            model_ny.append(result['node']['vehicle']['model']['name'])
            mileage_ny.append(result['node']['vehicle']['mileage'])
            year_ny.append(result['node']['vehicle']['year'])
            price_ny.append(result['node']['pricing']['listPrice'])
    else:
        print(f"Failed to fetch data for offset {offset}. Status Code: {response.status_code}")
        break

# Create a DataFrame from the collected data
df_ny_multiple = pd.DataFrame({
    'Brand': brand_ny,
    'Model': model_ny,
    'Mileage': mileage_ny,
    'Year': year_ny,
    'Price': price_ny
})

# Display the first few rows of the DataFrame
print(df_ny_multiple.head())

# Save the DataFrame to a CSV file
df_ny_multiple.to_csv('truecar_data_ny.csv', index=False)

       Brand    Model  Mileage  Year    Price
0     Nissan   Altima    60102  2015   9995.0
1     Nissan   Sentra    64042  2021  10800.0
2        BMW       X3    40995  2022  22800.0
3  Chevrolet   Malibu   102120  2021   9995.0
4  Chevrolet  Equinox    58042  2021  13490.0

### Part 2 - Truecar.com - San Francisco

In [20]:
import os
import requests
import pandas as pd

# Replace this with an actual environment variable or a string if needed
dc_visit = os.getenv('dc_visit', 'default_value_if_missing')

# Correct headers without invalid characters
headers = {
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.9',
    'ApolloGraphQL-Client-Name': 'abp-frontend',
    'Authorization-Mode': 'consumer',
    'Content-Type': 'application/json',
    'Cookie': f"militaryServiceArea=no; tc_v=be97f663-c67a-4d60-86dd-3871dfa9b169; {dc_visit}",
    'Origin': 'https://www.truecar.com',
    'Referer': 'https://www.truecar.com/used-cars-for-sale/listings/location-san-francisco-ca/?page=2',
    'User-Agent': 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Mobile Safari/537.36',
}

# Base URL for the API
url = "https://www.truecar.com/abp/api/graphql/"

# Initialize empty lists to store data
brand_sf = []
model_sf = []
mileage_sf = []
year_sf = []
price_sf = []

# Loop through multiple pages
page_size = 30  # Number of results per page
num_pages = 50   # Total number of pages to scrape (modify as needed)

for page in range(num_pages):
    # Calculate the offset
    offset = page * page_size

    # Data payload with updated offset
    data = {
        "operationName": "getMarketplaceSearch",
        "variables": {
            "filters": {
                "condition": "USED",
                "fallbackStrategy": "SIMPLE",
                "excludeExpandedDelivery": False,
                "withinRadius": {"postalCode": "94102", "distance": 75},
            },
            "sort": "BEST_MATCH",
            "first": page_size,
            "offset": offset,
            "galleryImagesCount": 1,
            "includeSeoInventorySummaryAndBodyStyles": False,
            "sponsoredFirst": 3,
            "sponsoredOffset": 3,
            "includeSponsoredListings": True,
        },
        "extensions": {
            "operationId": "a23275bdfec3641a11e19043e315f3f9539c516c48d446d44409a084fca83a13"
        },
    }

    # Make the POST request
    response = requests.post(url, headers=headers, json=data)

    # Check if the response is successful
    if response.status_code == 200:
        results_json = response.json()

        # Extract the results
        result_items = results_json['data']['listingSearch']['edges']

        for result in result_items:
            # Extract details
            brand_sf.append(result['node']['vehicle']['make']['name'])
            model_sf.append(result['node']['vehicle']['model']['name'])
            mileage_sf.append(result['node']['vehicle']['mileage'])
            year_sf.append(result['node']['vehicle']['year'])
            price_sf.append(result['node']['pricing']['listPrice'])
    else:
        print(f"Failed to fetch data for offset {offset}. Status Code: {response.status_code}")
        break

# Create a DataFrame from the collected data
df_sf_multiple = pd.DataFrame({
    'Brand': brand_sf,
    'Model': model_sf,
    'Mileage': mileage_sf,
    'Year': year_sf,
    'Price': price_sf
})

# Display the first few rows of the DataFrame
print(df_sf_multiple.head())

# Save the DataFrame to a CSV file
df_sf_multiple.to_csv('truecar_data_sf.csv', index=False)

           Brand      Model  Mileage  Year    Price
0           Ford    Mustang   108207  2020  14999.0
1  Mercedes-Benz  EQS Sedan    36513  2022  49995.0
2          Mazda      CX-30     5438  2023  21977.0
3          Tesla    Model 3    53000  2018  19998.0
4         Toyota    Prius c    78799  2014   9995.0

### Part-3 - Combine Data & Connect to Database - PostgreSQL

In [21]:
#Merge DataFrames
merged_dataframes = pd.concat([df_ny_multiple, df_sf_multiple], ignore_index=True)

In [22]:
merged_dataframes

          Brand       Model  Mileage  Year    Price
0        Nissan      Altima    60102  2015   9995.0
1        Nissan      Sentra    64042  2021  10800.0
2           BMW          X3    40995  2022  22800.0
3     Chevrolet      Malibu   102120  2021   9995.0
4     Chevrolet     Equinox    58042  2021  13490.0
...         ...         ...      ...   ...      ...
2995      Mazda    MX-30 EV    21289  2022  21998.0
2996     Toyota  Highlander    55136  2021  33537.0
2997    Hyundai    Santa Fe     3000  2023  33990.0
2998     Toyota       Camry   106716  2018  21998.0
2999       Ford      Ranger    52780  2020  24904.0

[3000 rows x 5 columns]

In [23]:
merged_dataframes['Price'].astype('Int64')

0        9995
1       10800
2       22800
3        9995
4       13490
        ...
2995    21998
2996    33537
2997    33990
2998    21998
2999    24904
Name: Price, Length: 3000, dtype: Int64

In [24]:
merged_dataframes['Price'] = merged_dataframes['Price'].astype('Int64')

In [25]:
#Output the updated dataframe
merged_dataframes

          Brand       Model  Mileage  Year  Price
0        Nissan      Altima    60102  2015   9995
1        Nissan      Sentra    64042  2021  10800
2           BMW          X3    40995  2022  22800
3     Chevrolet      Malibu   102120  2021   9995
4     Chevrolet     Equinox    58042  2021  13490
...         ...         ...      ...   ...    ...
2995      Mazda    MX-30 EV    21289  2022  21998
2996     Toyota  Highlander    55136  2021  33537
2997    Hyundai    Santa Fe     3000  2023  33990
2998     Toyota       Camry   106716  2018  21998
2999       Ford      Ranger    52780  2020  24904

[3000 rows x 5 columns]

In [26]:
merged_dataframes.to_csv('merged_dataframes.csv', index=False)

In [40]:
from urllib.parse import quote

# Your password
raw_password = "#Your Postgres Password"

# URL-encode the password
encoded_password = quote(raw_password)
print(f"Encoded password: {encoded_password}")

Encoded password: %23Your%20Postgres%20Password

In [39]:
from sqlalchemy import create_engine

# URL-encoded password
password = quote("#Your Postgres Password")

# Define the PostgreSQL connection string
engine = create_engine(f'postgresql+pg8000://postgres:{password}@localhost:5432')

# Write the DataFrame to the database table
try:
    merged_dataframes.to_sql('cars_results', engine, if_exists='replace', index=False)
    print("DataFrame successfully written to the 'cars_results' table in PostgreSQL")
except Exception as e:
    print("Error:", e)

DataFrame successfully written to the 'cars_results' table in PostgreSQL